on: [push]

jobs:
  logsight-setup-action:
    runs-on: ubuntu-latest
    name: A job that setups logsight.ai
    steps:
      - name: Logsight setup step
        uses: aiops/logsight-setup-action@v1.1.0
        id: setup
        with:
          username: ${{ secrets.LOGSIGHT_USERNAME }}
          password: ${{ secrets.LOGSIGHT_PASSWORD }}
          application_name: ${{ github.ref }}
